<h2 class="text-center text-blue1 p-3">Find hotel</h2>

<div class="container mt-3" xmlns:th="http://www.thymeleaf.org">
    <form id="hotel-search-from" autocomplete="off" class="form-horizontal" method="post" th:action="@{/hotels}">
            <table class="d-flex justify-content-center">
                <tbody class="w-100">
                <tr class="row d-flex justify-content-center">
                    <td class="col-md-3 col-sm-8 border pt-2">
                        <h6 class="h-25">Name</h6>
                        <input id="name" name="name" class="no-border w-100" type="text"/>
                    </td>
                </tr>
                </tbody>
            </table>

        <div class="d-flex justify-content-center my-4">
            <button type="submit" class="btn btn-blue btn-lg ">Search</button>
        </div>
    </form>
</div>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    autocomplete(document.getElementById("name"), [[${hotelNames}]]);
    $('#hotel-search-from').submit((event) => {
        event.preventDefault();
        const hotelPageHandler = new HotelPageHandler('/hotels/search', rowResponseHandler);
        hotelPageHandler.arguments.name = $('#name').val();

        const pageService = new PageService();
        hotelPageHandler.handlePage(pageService);

        $("#prev").click(() => {pageService.prev(); hotelPageHandler.handlePage(pageService);})

        let leftEllipsis = $("#left-ellipsis");
        leftEllipsis.click(() => {pageService.selectPage(leftEllipsis); hotelPageHandler.handlePage(pageService);});

        // let current = $("#current");
        // current.click(() => {pageService.selectPage(current); hotelPageHandler.handlePage(pageService);});

        let rightEllipsis = $("#right-ellipsis");
        rightEllipsis.click(() => {pageService.selectPage(rightEllipsis); hotelPageHandler.handlePage(pageService);});

        $("#next").click(() => {pageService.next(); hotelPageHandler.handlePage(pageService);});
    });
</script>