<div id="content" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="user" type="com.fmi.hotelreviewboard.domain.models.view.UserProfileViewModel"*/-->
    <div class="container my-5" th:object="${user}">
        <div class="row w-100 justify-content-center mx-auto">
            <div class="col-md-6 col-sm-10 d-flex align-items-center py-2">
                <img th:src="*{profilePictureLink}" class="img-thumbnail w-100 profile-picture mx-auto">
            </div>
            <div class="col-md-6 col-sm-10 border-blue2 px-4 py-2 scrollable-horizontal">
                <div><h3 class="text-blue2">Username:</h3></div>
                <div><h3><span class="text-blue1" th:text="*{username}"></span></h3></div>
                <div><h3 class="text-blue2">Name: </h3></div>
                <div><h3><span class="text-blue1" th:text="*{fullName}"></span></h3></div>
                <div><h3 class="text-blue2">Email: </h3></div>
                <div><h3><span class="text-blue1" th:text="*{email}"></span></h3></div>
                <div><h3 class="text-blue2">Phone number: </h3></div>
                <div><h3><span class="text-blue1" th:text="${user.phoneNumber == null || #strings.isEmpty(user.phoneNumber) ? 'No phone number provided' : user.phoneNumber}"></span></h3></div>
                <div class="d-flex justify-content-end" th:if="${#strings.equals(user.username, #authentication.name)}">
                    <a th:href="@{/profile/edit}"><i class="fa fa-pen-square fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-blue1 separator" th:if="${#strings.equals(#authentication.name, user.username)}"></div>
</div>