<div id="content" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="jumbotron-fluid p-3">
        <h1 class="text-center" th:text="${model.name}"></h1>
    </div>
    <!--/*@thymesVar id="model" type="com.fmi.hotelreviewboard.model.view.HotelProfileViewModel"*/-->
    <div id="body" th:object="${model}">
        <div class="container mt-3 mb-5" id="information">
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action" id="tabPrototype" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="reviewPrototype" role="tabpanel" aria-labelledby="tabReference">...</div>
                    </div>
                </div>
                <th:block th:include="fragments/util/pagination-bar"></th:block>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group shadow-textarea">
                        <label for="review-input">Write review</label>
                        <textarea class="form-control z-depth-1" id="review-input" rows="3" placeholder="Your review..."></textarea>
                    </div>
                    <th:block>
                        <div class="p-4">
                            <div class="container d-flex justify-content-end">
                                <button type="submit" id="send-request-btn" class="btn btn-blue">Post Review</button>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-map" tabindex="-1" role="dialog" aria-labelledby="map-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-blue2" id="map-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/scripts/util/map-service.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

    function initializePostButton(hotelPageHandler, pageService) {
        $('#send-request-btn').click(() => {
            const hotelId = [[${model.id}]];
            const reviewContent = $('#review-input').val();

            $.ajax({
                type: 'POST',
                url: '/hotels/review/' + hotelId,
                dataType: 'text',
                contentType: 'text/plain',
                data: reviewContent,
                beforeSend: (request) => {
                    let _tc = $("meta[name='_csrf']").attr("content");
                    let _hc = $("meta[name='_csrf_header']").attr("content");
                    request.setRequestHeader(_hc, _tc);
                },
                success: (data, textStatus, xhr) => {
                    pageService.setPage(0);
                    hotelPageHandler.handlePageAdditional(pageService, () => {selectReview(data);});
                    },

                error: (xhr, textStatus, errorThrown) => {console.log(errorThrown);}
            })

            $('#review-input').prop('disabled', true);
            $('#send-request-btn').text('Posted');
            $('#send-request-btn').prop('disabled', true);
        });
    }

    function selectReview(reviewId) {
        const activeTab = $('.active.list-group-item');
        if(activeTab.length > 0) {
            activeTab.removeClass('active');
        }

        const activeReview = $('.active.show');
        if(activeReview.length > 0) {
            activeReview.removeClass('active');
            activeReview.removeClass('show');
        }


        const selectedTab = $("[data-id="+reviewId+"]");
        if(selectedTab.length > 0) {
            selectedTab.addClass('active');

            const reviewContent = $("[aria-labelledby="+selectedTab.attr('id')+"]");
            if(reviewContent.length > 0) {
                reviewContent.addClass('active');
                reviewContent.addClass('show');
            }
        }
    }

    function showReview(response) {
        let tabElement = $('#tabPrototype');
        tabElement.show();
        let reviewElement = $('#reviewPrototype');
        reviewElement.show();
        response.content.forEach((review, index) => {
            let currentTab = $('#review-tab-'+index.toString());
            if(currentTab.length === 0) {
                currentTab = tabElement.clone();
                currentTab.attr('id', 'review-tab-'+index.toString());
            }
            currentTab.text(review.score.toString());
            currentTab.attr('href', '#review-'+index.toString());
            currentTab.attr('data-id', review.id);
            if(index === 0) {
                currentTab.addClass('active');
            }
            else {
                currentTab.removeClass('active');
            }
            tabElement.after(currentTab);
            tabElement = currentTab;

            let currentReview = $('#review-'+index.toString());
            if(currentReview.length === 0) {
                currentReview = reviewElement.clone();
            }
            currentReview.text(review.content);
            currentReview.attr('id', 'review-'+index.toString());
            currentReview.attr('aria-labelledby','review-tab-'+index.toString());
            if(index === 0) {
                currentReview.addClass('active');
                currentReview.addClass('show');
            } else {
                currentReview.removeClass('active');
                currentReview.removeClass('show');
            }
            reviewElement.after(currentReview);
            reviewElement = currentReview;
        });

        $('#tabPrototype').hide();
        $('#reviewPrototype').hide();
    }



    $(document).ready(() => {
        const hotelPageHandler = new HotelPageHandler('/hotels/review/'+[[${model.id}]], showReview);
        hotelPageHandler.arguments.size=5;
        const pageService = new PageService((ps) => {hotelPageHandler.handlePage(ps)});
        hotelPageHandler.handlePage(pageService);

        initializePostButton(hotelPageHandler, pageService);
        initializePagination(pageService);
    });

    $('#modal-map').on('show.bs.modal', (event) => {
        let button = $(event.relatedTarget);
        let lat = button.data('lat');
        let lng = button.data('lng');
        let center = {lat: lat, lng: lng};
        let title = button.data('title');
        let modal = $(this);
        document.getElementById('map-title').innerText = title;
        mapService.initMap('map', center, 9);
        mapService.placeMarker(center);
    })
</script>